.nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 15px;
    font-size: 22px;
    font-weight: 500;
    background-color: #f4f4f4;
}